doctype html
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			title= title	
	body
		
	block scripts
		script(src="/scripts/phaser-ce/build/phaser.js")
		script(src="/scripts/socket.io-client/dist/socket.io.js")
		script(src="/js/client.js")
	
